<app-topbar>
  <app-staff-options></app-staff-options>
</app-topbar>

<div>
  <div>
    Id:<input [(ngModel)]="rest.id"/>
  </div>
  <div>
    Name:<input [(ngModel)]="rest.name"/>
  </div>
  <div>
    Address:<input [(ngModel)]="rest.address"/>
  </div>
  <div>
    <agm-map [latitude]="rest.location.latitude" [longitude]="rest.location.longitude">
      <agm-marker [markerDraggable]="true" [latitude]="rest.location.latitude" [longitude]="rest.location.longitude"
                  (dragEnd)="markerChanged($event)"></agm-marker>
    </agm-map>
  </div>
  <div>
    Phone:<input type="tel" [(ngModel)]="rest.phone"/>
  </div>
  <div>
    Picture: <input type="file" name="pic" accept="image/*" (change)="uploadImage($event)">
  </div>
  <div>
    Accesability:
    <select [(ngModel)]="rest.accesability">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select>
  </div>
  <div>
    Smoking:
    <select [(ngModel)]="rest.smoking">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select>
  </div>
  <div>
    Type:
    <select [(ngModel)]="rest.type">
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </div>
  <div>
    Sub Menus:
    <div *ngFor="let item of subMenus">
      <input type="checkbox" [(ngModel)]="item.isSelected"/>
      {{item.value}}
    </div>
  </div>
  <div>
    <table>
      <thead>
      <th>Day</th>
      <th>Starting Time</th>
      <th>End Time</th>
      <th>Is Busy</th>
      <th *ngIf="areThereBusyHours()">Busy Hours</th>
      </thead>
      <tbody>
      <tr *ngFor="let workingDay of rest.workingDays; let i = index">
        <td>{{days[i]}}</td>
        <td><input class="start-time" type="time" [(ngModel)]="rest.workingDays[i].startingTime"/></td>
        <td><input class="end-time" type="time" [(ngModel)]="rest.workingDays[i].endTime"/></td>
        <td align="center">
          <input type="checkbox" [(ngModel)]="rest.workingDays[i].isBusy">
        </td>
        <td>
          <span *ngIf="rest.workingDays[i].isBusy">
            <span>All Day: <input type="checkbox" (change)="insertAllDayBusyHours(i)"></span>
            <input type="time" [(ngModel)]="rest.workingDays[i].busyHourStart"/>
            <input type="time" [(ngModel)]="rest.workingDays[i].busyHourEnd"/>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="createRest()">Create</button>
  </div>
</div>
