<div class="raw-material-container">
  <table>
    <thead>
    <th>Important To Meal</th>
    <th>Name</th>
    <th>Redline</th>
    </thead>
    <tbody>
    <tr *ngFor="let rawMaterial of objectKeys(rawMaterials)">
      <td><input type="checkbox" [(ngModel)]="rawMaterials[rawMaterial].isImportant"/></td>
      <td>{{rawMaterial}}</td>
      <td><input type="number" min="0" (change)="onRedLineChange($event, rawMaterials[rawMaterial])" [(ngModel)]="rawMaterials[rawMaterial].redLine"/></td>
    </tr>
    </tbody>
  </table>
</div>
