<div class="table-details">
  <div>
    Number: {{table.id}}
  </div>
  <div>
    X: {{table.x}} Y:{{table.y}}
  </div>
  <div>
    Accessabillity: {{table.acceabilty}}
  </div>
  <div>
    Smoking: {{table.smoking}}
  </div>
  <div>
    Connectable: {{table.isConnectable}}
  </div>
  <div>
    Size: {{table.size}}
  </div>
  <div *ngIf="isMerged">
    <button (click)="disconnectMergedTable()">Disconnect</button>
  </div>
  <div *ngIf="!isMerged">
    Connectable Tables:
    <div *ngIf="connectableTables">
      <div *ngFor="let tableId of connectableTables">
        {{tableId}}
        <button (click)="onConnectTables(tableId)">Connect</button>
      </div>
    </div>
    <div *ngIf="connectableTables.length === 0">
      No Connectable Tables
    </div>
  </div>
</div>
