<td scope="row">{{table.id}}</td>
<td> X: {{table.x}} Y:{{table.y}}</td>
<td>{{table.acceabilty}}</td>
<td>{{table.smoking}}</td>
<td>{{table.isConnectable}}</td>
<td>{{table.size}}</td>
<td>
  <div *ngIf="isMerged">
    <button (click)="disconnectMergedTable()">Disconnect</button>
  </div>
  <div *ngIf="!isMerged">
    <div *ngIf="connectableTables">
      <div *ngFor="let tableId of connectableTables">
        {{tableId}}
        <button (click)="onConnectTables(tableId)">Connect</button>
      </div>
    </div>
    <div *ngIf="connectableTables.length === 0">
      No Connectable Tables
    </div>
  </div>
</td>