
<div>
  <div>
    Id:<input [(ngModel)]="rawMaterial.id"/>
  </div>
  <div>
    Name:<input [(ngModel)]="rawMaterial.name"/>
  </div>
  <div>
    Amount:<input  type="number" [(ngModel)]="rawMaterial.amount"/>
  </div>
  <div>
    Type:<input  type="number" [(ngModel)]="rawMaterial.type"/>
  </div>
  <div>
    Red Line:<input  type="number" [(ngModel)]="rawMaterial.redLine"/>
  </div>
  <div>
    Units:
    <select [(ngModel)]="rawMaterial.units">
      <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
    </select>
  </div>
</div>

<div>
  <table>
      <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Red Line</th>
      <th>Units</th>
      <!--<tr *ngFor="let rawMaterial of rawMaterials; let i = index">-->
        <!--<td>{{rawMaterials[i].id}}</td>-->
      <!--</tr>-->
      </thead>
  </table>
</div>
