<app-topbar><app-staff-options></app-staff-options></app-topbar>

<div id="worker-form-container" class="container">
    <form  #fRawMaterial="ngForm" >
        <div class="form-group">
            <div>
                <label for="txtId">id:</label>
                <input id="txtId" name="txtId" [(ngModel)]="rawMaterial.id" type="text" required/>
                <label for="txtName">Name:</label>
                <input id="txtName" name="txtName" [(ngModel)]="rawMaterial.name" type="text" required/>
                <label for="txtAmount">Amount:</label>
                <input id="txtAmount" name="txtAmount" [(ngModel)]="rawMaterial.amount" type="text" required/>
                <label for="txtRedLine">Red Line:</label>
                <input id="txtRedLine" name="txtRedLine" [(ngModel)]="rawMaterial.redLine" type="text" required/>
                <label for="txtType">Type:</label>
                <input id="txtType" name="txtType" [(ngModel)]="rawMaterial.type" type="text" required/>

                <label for="txtUnit">Unit:</label>
                <select id="txtUnit" name="txtUnit" [(ngModel)]="rawMaterial.units">
                    <option *ngFor="let item of units?.units" >
                        {{item}}
                    </option>
                </select>

                <td><button type="button" (click)="addRawMaterial(fRawMaterial)" class="btn btn-success">add</button></td>
                <td><button type="button" (click)="updateRawMaterial(fRawMaterial)" class="btn btn-success">update</button></td>
                <td><button type="button" (click)="deleteRawMaterial(rawMaterial.id)" class="btn btn-success">delete</button></td>

            </div>

            <table id="RawMaterialList">
                <thead>
                <tr>
                    <th>Id:</th>
                    <th>Name:</th>
                    <th>Amount:</th>
                    <th>Red Line:</th>
                    <th>Type:</th>
                    <th>Unit:</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of rawMaterial$ | async">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.redLine}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.units}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
