.grid-layout-container {
  position: relative;
  margin: 0 auto;
  width: calc(30px * 15);
  height: calc(30px * 15);
}

.layout-table {
  position: absolute;
  display: grid;
}

.grid-block {
  border: 1px solid black;
}

.grid-table {
  background: blue;
  color: white;
}
