
<app-topbar><app-rests-options></app-rests-options></app-topbar>

<div class="restTables">
  <table id="tableList">
    <thead>
    <tr>
      <th>Id</th>
      <th>Acceabilty</th>
      <th>name</th>
      <th>pTop</th>
      <th>pBottom</th>
      <th>pRight</th>
      <th>pLeft</th>
      <th>size</th>
      <th>smoking</th>
      <th>status</th>
    </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of tableID$ | async">
        <td>{{item.id}}</td>
        <td>{{item.acceabilty}}</td>
        <td>{{item.name}}</td>
        <td>{{item.pTop}}</td>
        <td>{{item.pBottom}}</td>
        <td>{{item.pRight}}</td>
        <td>{{item.pLeft}}</td>
        <td>{{item.size}}</td>
        <td>{{item.smoking}}</td>
        <td>{{item.status}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div id="rest-table-form-container">
  <form  #fTable="ngForm" >
    <div class="form-group">
      <fieldset>
        <legend>Personalia:</legend>
        <table id="restFormTable">
          <tr>
            <td>
              <label for="txtId">Id:</label>
              <input id="txtId" name="txtId" type="text" required validateUserId [(ngModel)]="table.id"/>
            </td>
            <td>
              <label for="txtAcceabilty">Acceabilty:</label>
              <input id="txtAcceabilty" name="txtAcceabilty" type="text" required validateUserId [(ngModel)]="table.acceabilty"/>
            </td>
            <td>
              <label for="txtpBottom">pBottom:</label>
              <input id="txtpBottom" name="txtpBottom" type="text" required validateUserId [(ngModel)]="table.pBottom"/>
            </td>
          </tr>

          <tr>
            <td>
              <label for="txtpLeft">pLeft:</label>
              <input id="txtpLeft" name="txtpLeft" type="text" required validateUserId [(ngModel)]="table.pLeft"/>
            </td>
            <td>
              <label for="txtpRight">pRight:</label>
              <input id="txtpRight" name="txtpRight" type="text" required validateUserId [(ngModel)]="table.pRight"/>
            </td>
            <td>
              <label for="txtpTop">pTop:</label>
              <input id="txtpTop" name="txtpTop" type="text" required validateUserId [(ngModel)]="table.pTop"/>
            </td>
          </tr>

          <tr>
            <td>
              <label for="txtSize">size:</label>
              <input id="txtSize" name="txtSize" type="text" required validateUserId [(ngModel)]="table.size"/>
            </td>
            <td>
              <label for="txtSmoking">smoking:</label>
              <input id="txtSmoking" name="txtSmoking" type="text" required validateUserId [(ngModel)]="table.smoking"/>
            </td>
            <td>
              <label for="txtStatus">status:</label>
              <input id="txtStatus" name="txtStatus" type="text" required validateUserId [(ngModel)]="table.status"/>
            </td>
          </tr>
        </table>
      </fieldset>









    </div>
    <button type="submit" (click)="addTable(fTable)">add</button>
    <!--<button type="submit" (click)="updateWorker(f)">update</button>-->
    <!--<button type="submit" (click)="deleteWorker(worker.id)" >delete</button>-->
  </form>
  <app-rest-grid [tables]="tableID$ | async"></app-rest-grid>
</div>


