
.restTables{margin:50px auto;width:510px;}

#tableList{width:200px;}

#tableList thead{}

#tableList thead tr{}

#tableList thead tr th{text-align: center;padding:5px;}

#tableList tbody{}

#tableList tbody tr{height:30px;}

#tableList tbody tr:nth-child(even) {background: #CCC}

#tableList tbody tr:nth-child(odd) {background: #FFF}

#tableList tbody tr td{text-align: center}

#restFormTable tr td label{max-width:40px;padding:0 10px}

#rest-table-form-container{width:470px;}


