<div>
  <h3>Grocery</h3>
  <div>
    <!--Name:<input [(ngModel)]="grocery.name"/>-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="grocery.name">
    </div>
  </div>
  <div>
    <!--Cooking Time:<input type="number" [(ngModel)]="grocery.cookingTime"/>-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Cooking Time</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="grocery.cookingTime">
    </div>
  </div>
  <div>
    <!--<select [(ngModel)]="grocery.cookingType">-->
      <!--<option *ngFor="let item of cookingTypes">-->
        <!--{{item}}-->
      <!--</option>-->
    <!--</select>-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputCokingType">Cooking Type</label>
      </div>
      <select class="custom-select" id="inputCokingType">
        <option *ngFor="let item of cookingTypes">{{item}}</option>
      </select>
    </div>
  </div>
  <div>
    <!--<div *ngFor="let item of rawMaterial; let i = index">-->
      <!--<input type="checkbox" [(ngModel)]="rawMaterialSelected[i]"/>-->
      <!--<span>{{item.name}}</span>-->
      <!--<input type="number" min="0" placeholder="Amount" [(ngModel)]="rawMaterialAmount[i]" required/>-->
    <!--</div>-->
    <div class="input-group mb-3" *ngFor="let item of rawMaterial; let i = index">
      <div class="input-group-prepend">
        <div class="input-group-text">

          <input id="checkbox-{{i}}" type="checkbox" [(ngModel)]="rawMaterialSelected[i]">
          <label for="checkbox-{{i}}">{{item.name}}</label>
        </div>
      </div>
      <input type="number" min="0" class="form-control" [(ngModel)]="rawMaterialAmount[i]" required>
    </div>
  </div>

  <button (click)="createGrocery()" class="btn btn-success">Create Grocery</button>
  <!--<button (click)="deleteGrocery()" class="btn btn-success">Delete Grocery</button>-->
  <!--<button (click)="updateGrocery()">Update Grocery</button>-->
</div>
