<app-topbar><app-rests-options></app-rests-options></app-topbar>

<div id="worker-form-container" class="container">
  <form  #f="ngForm" >
    <div class="form-group">
      <table id="workerList">
        <thead>
        <tr>
          <th>id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let item of workerID$ | async">
          <td>{{item.id}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.role}}</td>
        </tr>

        <label for="txtId">Id:</label>
        <input id="txtId" name="txtId" type="text" required validateUserId [(ngModel)]="worker.id" [ngClass]="{'errorTest' : txtWorkerIdErrorClass === true}"/>
        <label for="txtFirstName">First Name:</label>
        <input id="txtFirstName" name="txtFirstName" type="text" required [(ngModel)]="worker.firstName" [ngClass]="{'errorTest' : txtWorkerFirstNameErrorClass === true}"/>
        <label for="txtLastName">Last Name:</label>
        <input id="txtLastName" name="txtLastName" type="text" required [(ngModel)]="worker.lastName" [ngClass]="{'errorTest' : txtWorkerLastNameErrorClass === true}"/>
        <label for="txtRole">Role:</label>
        <input id="txtRole" name="txtRole" type="text" required [(ngModel)]="worker.role" [ngClass]="{'errorTest' : txtWorkerRoleErrorClass === true}"/>

        </tbody>
      </table>
    </div>
    <button type="submit" (click)="addWorker(f)">add</button>
    <button type="submit" (click)="updateWorker(f)">update</button>
    <button type="submit" (click)="deleteWorker(worker.id)" >delete</button>
  </form>
</div>


