<div class="create-table-modal" [style.display]="isDisplayed ? 'block' : 'none'">
  <div class="create-table-content">
    <div>
      Id:<input [(ngModel)]="table.id"/>
    </div>
    <div>
      Accessabillity
      <select [(ngModel)]="table.acceabilty">
        <option [value]=true>Yes</option>
        <option [value]=false>No</option>
      </select>
    </div>
    <div>
      Smoking
      <select [(ngModel)]="table.smoking">
        <option [value]=true>Yes</option>
        <option [value]=false>No</option>
      </select>
    </div>
    <div>
      Is Connectable
      <select [(ngModel)]="table.isConnectable">
        <option [value]=true>Yes</option>
        <option [value]=false>No</option>
      </select>
    </div>
    <div>
      <button (click)="createTable()">Create Table</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>

