<td>
  <img class="stock-item-action" *ngIf="!inEditMode" src="assets/edit.png" (click)="edit()" />
</td>
<td>{{grocery.name}}</td>
<td>
  <span *ngIf="!inEditMode">{{grocery.cookingType}}</span>
  <select *ngIf="inEditMode" [(ngModel)]="newGrocery.cookingType">
    <option *ngFor="let cookingType of cookingTypes" [value]="cookingType">{{cookingType}}</option>
  </select>
</td>
<td>
  <span *ngIf="inEditMode">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="newGrocery.cookingTime" />
    </mat-form-field>
  </span>
  <span *ngIf="!inEditMode">{{grocery.cookingTime}}</span>
</td>
<td>
  <span *ngIf="!inEditMode">{{grocery.isEditable ? 'Yes' : 'No'}}</span>
  <select *ngIf="inEditMode" [(ngModel)]="newGrocery.isEditable">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select>
</td>
<td>
  <ul>
    <li *ngFor="let rawMaterial of objectKeys(grocery.rawMaterial)">
      <img class="stock-item-action" *ngIf="inEditMode" (click)="deleteRawMaterial(rawMaterial)" src="assets/delete.png" /> {{rawMaterial}}:
      <span *ngIf="!inEditMode"> {{grocery.rawMaterial[rawMaterial]}}</span>
      <mat-form-field *ngIf="inEditMode">
        <input matInput type="number" [(ngModel)]="newGrocery.rawMaterial[rawMaterial]" />
      </mat-form-field>
    </li>
  </ul>
</td>
<td>
  <img class="stock-item-action" *ngIf="!inEditMode" (click)="delete()" src="assets/delete.png" />
  <img class="stock-item-action" *ngIf="inEditMode" (click)="ok()" src="assets/ok.png" />
</td>
<td>
  <img class="stock-item-action" *ngIf="inEditMode" (click)="cancel()" src="assets/cancel.png" />
</td>