
<div style="text-align:center">
  <form [formGroup]='newWorkerForm' (ngSubmit)="addWorker(newWorkerForm)">
    <br> ID:
    {{newWorkerForm.controls.txtWorkerid.valid}}
    <input type="text" name="txtWorkerid" [ngClass]="txtWorkeridErrorClass" formControlName="txtWorkerid">
      <!-- {'error': newWorkerForm.controls.txtWorkerid.invalid}"> -->
    <br> First Name:
    <input type="text" formControlName="txtWorkerFirstName" >
    <br> Last Name:
    <input type="text" formControlName="txtWorkerLastName">
    <br> Role:
    <input type="text" formControlName="txtWorkerRole">
    <br>
    (firstName: String, lastName: String, role: String)
    <button type="submit">Add worker</button>
    <br>
  </form>
  <div style="text-align:center; display:unset;">
    List of worker:
    <!--<ul>-->
      <!--<li *ngFor="let worker of workers | async">-->
        <!--{{ worker.firstName }} is ${{ worker.lastName }}-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</div>