<div>Mark Your Table</div>
<app-grid [rows]="gridHeight"
          [cols]="gridWidth"
          [cellWidth]="30"
          [cellHeight]="30"
          [rectanglesObservable]="tablesRectanglesObservable"
          (rectangleCreated)="addNewTable($event)">

</app-grid>
<app-new-table-details [isDisplayed]="displayNewTableForm"
                       [table]="newTable"
                       (newTableCreated)="createNewTable($event)"
                       (tableCreationCancled)="tableCreationCanceled()">
</app-new-table-details>
<div>
  Set
  <select [(ngModel)]="connectableFromId" (change)="connectableFromChanged($event)">
    <option *ngFor="let table of connectableTables" [value]=table.id>{{table.id}}</option>
  </select>
  To Be Connectable To
  <select [(ngModel)]="connectableToId">
    <option *ngFor="let table of connectableToTables" [value]=table.id>{{table.id}}</option>
  </select>
  <button (click)="setPossibleConnection()">Set</button>
</div>
<div>

    <app-table-details *ngFor="let table of tables" [restId]="restId" [table]="table" (connectTables)="connectTables($event)"></app-table-details>

</div>
