<div>
  <mat-form-field>
    <input matInput placeholder="Name" type="text" [(ngModel)]="meal.name" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Sub Menus" [(ngModel)]="meal.subMenus" required>
      <mat-option *ngFor="let item of subMenus" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Dairy" [(ngModel)]="meal.dairy" required>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Vegan" [(ngModel)]="meal.vegan" required>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Description" type="text" [(ngModel)]="meal.description" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Gloten Free" [(ngModel)]="meal.glotenFree" required>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Meal Type" [(ngModel)]="meal.mealType" required>
      <mat-option *ngFor="let item of mealTypes" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Price" type="number" [(ngModel)]="meal.price" min="0" required>
  </mat-form-field>
</div>
<div class="input-group mb-3 image-input">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div>
    <input type="file" class="custom-file-input" id="inputGroupFile01" name="pic" accept="image/*" (change)="uploadImage($event)">
    <label class="custom-file-label" for="inputGroupFile01">{{picText}}</label>
  </div>
</div>
<div *ngFor="let item of dish; let i = index">
  <mat-checkbox class="dark-checkbox" [(ngModel)]="dishSelected[i]">
    <mat-label>{{item.name}}</mat-label>
  </mat-checkbox>
  <div *ngIf="dishSelected[i]">
    <app-raw-material-for-meal #rawMaterials [dishName]="item.name" [restId]="restId" (rawMaterial)="rawMaterials[item.name]"></app-raw-material-for-meal>
  </div>
</div>
<div>
  <app-spinning-loader></app-spinning-loader>
  <button mat-stroked-button (click)="createMeal()">Create Meal</button>
</div>