.topBar{
    background-color: #00897b;
    height: 130px;
}

.user-details {
  color: whitesmoke;
  padding-left: 30px;
}

.user-pic {
  width: 40px;
  height: 40px;
  margin-left: 1100px;
  margin-top: 20px;
  border-radius: 50%;
}

.selected-rest{
  margin-left: 1150px;
  margin-top: 40px;
}