<td>
  <img class="stock-item-action" *ngIf="!inEditMode" src="assets/edit.png" (click)="edit()" />
</td>
<td>
  <img class="dish-pic" [src]="dish.pic" />
</td>
<td>
  {{dish.name}}
</td>
<td>
  <span>{{dish.totalTime}}</span>
</td>
<td>
  <span *ngIf="!inEditMode">{{dish.maxSecondsBeforeStartingMaking}}</span>
  <mat-form-field *ngIf="inEditMode">
    <input matInput [(ngModel)]="newDish.maxSecondsBeforeStartingMaking" />
  </mat-form-field>
</td>
<td>
  <span *ngIf="!inEditMode">{{dish.category}}</span>
  <select *ngIf="inEditMode" [(ngModel)]="newDish.category">
    <option *ngFor="let category of categories">{{category}}</option>
  </select>
</td>
<td>
  <span *ngIf="!inEditMode">{{dish.isEditable ? "Yes" : "No"}}</span>
  <select *ngIf="inEditMode" [(ngModel)]="newDish.isEditable">
    <option [value]="yes">Yes</option>
    <option [value]="no">No</option>
  </select>
</td>
<td>
  <ul>
    <li *ngFor="let grocery of groceries">
      <img class="" *ngIf="inEditMode" (click)="deleteGrocery(grocery)" src="assets/delete.png" />
      <span>{{grocery}}</span>
    </li>
  </ul>
</td>
<td>
  <img class="stock-item-action" *ngIf="!inEditMode" (click)="delete()" src="assets/delete.png" />
  <img class="stock-item-action" *ngIf="inEditMode" (click)="ok()" src="assets/ok.png" />
</td>
<td>
  <img class="stock-item-action" *ngIf="inEditMode" (click)="cancel()" src="assets/cancel.png" />
</td>