<mat-tab-group>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <mat-tab label="Grocery">
          <mat-tab-group>
            <mat-tab label="Create">
              <app-create-grocery class="card"></app-create-grocery>
            </mat-tab>
            <mat-tab label="Manage">
              <app-manage-groceries></app-manage-groceries>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </div>
      <div class="col-4">
        <mat-tab label="Dish">
          <mat-tab-group>
            <mat-tab label="Create">
              <app-create-dish class="card"></app-create-dish>
            </mat-tab>
            <mat-tab label="Manage">
              <app-manage-dishes></app-manage-dishes>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </div>
      <div class="col-4">
        <mat-tab label="Meal">
          <app-create-meal class="card"></app-create-meal>
        </mat-tab>
      </div>
    </div>
  </div>
</mat-tab-group>