<div>
  <h3>Dish</h3>
  <!--<div>Name:<input [(ngModel)]="dish.name"/></div>-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="dish.name">
  </div>
  <!--<div>Description:<input type="text" [(ngModel)]="dish.description"/></div>-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Description</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="dish.description">
  </div>
  <!--<div>Total Time:<input type="number" [(ngModel)]="dish.totalTime"/></div>-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Total Time</span>
    </div>
    <input type="number" class="form-control" [(ngModel)]="dish.totalTime">
  </div>
  <!--<div>Max Time:<input type="number" [(ngModel)]="dish.maxSecondsBeforeStartingMaking"/></div>-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Max Time</span>
    </div>
    <input type="number" class="form-control" [(ngModel)]="dish.maxSecondsBeforeStartingMaking">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputCategories">Category</label>
    </div>
    <select class="custom-select" id="inputCategories">
      <option *ngFor="let item of categories">{{item}}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputEditableDish">Editable</label>
    </div>
    <select class="custom-select" id="inputEditableDish">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select>
  </div>
  <!--<div>Category:-->
    <!--<select [(ngModel)]="dish.category">-->
      <!--<option *ngFor="let item of categories">-->
        <!--{{item}}-->
      <!--</option>-->
    <!--</select>-->
  <!--</div>-->

  <div class="input-group mb-3" *ngFor="let item of grocery; let i = index">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input id="checkbox-{{i}}" type="checkbox" [(ngModel)]="grocerySelected[i]">
        <label for="checkbox-{{i}}">{{item.name}}</label>
      </div>
    </div>
  </div>
  <!--<div>-->
    <!--<div *ngFor="let item of grocery; let i = index">-->
      <!--<input type="checkbox" [(ngModel)]="grocerySelected[i]"/>-->
      <!--<span>{{item.name}}</span>-->
    <!--</div>-->
  <!--</div>-->

  <button (click)="createDish()" class="btn btn-success">Create Dish</button>
  <!--<button (click)="deleteGrocery()">Delete Grocery</button>-->
  <!--<button (click)="updateGrocery()">Update Grocery</button>-->
</div>
