<app-topbar><app-kitchen-options></app-kitchen-options></app-topbar>

<div id="kitchen-form-container" class="container">
    <form  #fkitchenStation="ngForm" >
        <div class="form-group">
            <label for="txtId">Id:</label>
            <input id="txtId" name="txtId" type="text" required validateUserId [(ngModel)]="kitchenStation.id"/>
            <label for="txtName">Name:</label>
            <input id="txtName" name="txtName" type="text" required validateUserId [(ngModel)]="kitchenStation.name"/>

            <div>
            <button type="submit" (click)="addKitchenStation(fkitchenStation)">add</button>
            <button type="submit" (click)="updateKitchenStation(fkitchenStation)">update</button>
            <button type="submit" (click)="deleteKitchenStation(resturantID, kitchenStation.id)" >delete</button>
            </div>

            <table id="kitchenList">
                <thead>
                <tr>
                    <th>Id:</th>
                    <th>name</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let item of kitchenStation$ | async">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </form>
</div>


