  <div>
    <mat-form-field>
      <input matInput placeholder="Name" type="text" [(ngModel)]="meal.name" [ngModelOptions]="{standalone: true}"
             required>
    </mat-form-field>
  </div>
    <div>
      <mat-form-field>
    <mat-select placeholder="Sub Menus"[(ngModel)]="meal.subMenus" [ngModelOptions]="{standalone: true}"
                required>
      <mat-option *ngFor="let item of subMenus">{{item}}</mat-option>
    </mat-select>
        </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Dairy" [(ngModel)]="meal.dairy" [ngModelOptions]="{standalone: true}"
                  required>
        <mat-option  [value]="true">Yes</mat-option>
        <mat-option  [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div>
      <mat-form-field>
    <mat-select placeholder="Vegan" [(ngModel)]="meal.vegan" [ngModelOptions]="{standalone: true}"
                required>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
      </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <input matInput placeholder="Description" type="text" [(ngModel)]="meal.description" [ngModelOptions]="{standalone: true}"
           required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <mat-select placeholder="Gloten Free" [(ngModel)]="meal.glotenFree" [ngModelOptions]="{standalone: true}"
                required>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
      </mat-form-field>
  </div>
  <div>
  <mat-form-field>
    <mat-select placeholder="Meal Type" [(ngModel)]="meal.mealType" [ngModelOptions]="{standalone: true}"
                required>
      <mat-option *ngFor="let item of mealTypes">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <input matInput placeholder="Price" type="text" [(ngModel)]="meal.price" min="0" [ngModelOptions]="{standalone: true}"
           required>
    </mat-form-field>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" name="pic" accept="image/*" (change)="uploadImage($event)">
      <label class="custom-file-label" for="inputGroupFile01">{{picText}}</label>
    </div>
  </div>
    <div *ngFor="let item of dish; let i = index">
      <input type="checkbox" [(ngModel)]="dishSelected[i]"/>
      <span>{{item.name}}</span>
      <div *ngIf="dishSelected[i]">
        <app-raw-material-for-meal #rawMaterials [dishName]="item.name" [restId]="restId" (rawMaterial)="rawMaterials[item.name]"></app-raw-material-for-meal>
      </div>
    </div>
<div>
  <button mat-stroked-button (click)="createMeal()">Create Meal</button>
</div>
