<div>
  <h3>Meal</h3>
  <div>Name:<input [(ngModel)]="meal.name"/></div>
  <div>Sub Menus:
    <select [(ngModel)]="meal.subMenus">
      <option *ngFor="let item of subMenus">
        {{item}}
      </option>
    </select>
  </div>
  <div>dairy:
    <select [(ngModel)]="meal.dairy">
      <option id="yesDairy"> Yes</option>
      <option id="noDairy"> No</option>
    </select>
  </div>
  <div>dairy:
    <select [(ngModel)]="meal.vegan">
      <option id="yesVegan"> Yes</option>
      <option id="noVegan"> No</option>
    </select>
  </div>
  <div>
    <div *ngFor="let item of dish; let i = index">
      <input type="checkbox" [(ngModel)]="dishSelected[i]"/>
      <span>{{item.name}}</span>
      <div *ngIf="dishSelected[i]">
        <app-raw-material-for-meal [dishName]="item.name" [restId]="restId"></app-raw-material-for-meal>
      </div>
    </div>
  </div>

  <button (click)="createMeal()">Create Meal</button>
  <!--<button (click)="deleteGrocery()">Delete Grocery</button>-->
  <!--<button (click)="updateGrocery()">Update Grocery</button>-->
</div>
