/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

#formContainer {
  margin-left: 200px;
}

.plato-alert {
  color: white;
  background-color: green;
}

.plato-alert-error {
  background-color: red;
  color: white;
}

.dark-checkbox.mat-checkbox-checked .mat-checkbox-background {
  background-color: black;
}
